html{
	height: 98%;

}
body{
	background-color: #25064C;
	width: 100%;
	height: 100%;
	position: relative;
}
header{
	width: 100%;
	position: relative;
	height: 10%;
}
main{
	height: 85%;
	width: 100%;
	display: block;
	position: relative;
}
footer{
	height: 5%;
	color:#9768D1;
	text-align: center;
}
#search_field{
	width: 75%;float: right;
}
#ico{
	float: right;
	margin: 1px 10px;
	color: #7B52AB;
}
.btn{
	background-color: #553285;
	color: #9768D1;
	cursor: pointer;
}
.profile_btn{
	opacity: 0.8;
}
.btn:hover{
	background-color: #7B52AB;
	color: #9768D1;
}
.form-control{
	background: #36175E;
	color:#7B52AB;
}
.form-control:hover{
	background: #7B52AB;
	color:#553285;
}
.form-control:focus{
	background: #7B52AB;
	color:#553285;
}
#regForm{
	margin: 0 auto;
	width: 60%;
	color:#9768D1;
}
#profile{
	margin: 0 auto;
	width: 60%;
	height: 100%;
}
#description{
	overflow-y: scroll;
	color: #9768D1;
	float: left;
	margin-left: 3%;
	width: 50%;
	height: 30%;
	resize: none;
	background-color:#25064C;
	border: none;
}
#name{
	display: block;
	color: #9768D1;
	float: right;
	width: 50%
}
label{
	color:#9768D1 !important;
}
.person{
	margin-bottom: 0.5%;
	width: 100%; 
}
.person img{
	width: 10%;
	height: 10%
}
#search-container{
	height: 90%;
	width: 100%;
	overflow-y: scroll;
}
a{
	cursor: pointer;
	color: #9768D1 !important;
}
a:hover{
	text-decoration: underline;
	color: #7B52AB !important;
}
#chat{
	height: 80%;
	width: 100%;
}
#communication{
	width: 100%;
	height: 20%;
}
#send_btn {
	width: 15%;
	cursor: pointer;
	float: right;
	margin-top: 1%;
}
#message_text {
	width: 85%;
	float: left;
	resize: none;
	border: none;
}
.reciever,.sender {
	color: #7B52AB !important;
	resize: none;
	width: 100%;
	margin-top: 1%;
}
.reciever {
	background: #CC000F;
}
.sender {
	background: #F5790F;
}