{% extends "template/main.html" %}

{% block dropdown_name %}
Register
{% endblock %}
{% block dropdown %}
	
	<form class="form-horizontal" id="reg_form" method="post" action="{{ url_for('register') }}">
	  <div class="form-group" id="username_form">
	    <label for="username" class="col-sm-2 control-label">Username</label>
	    <div class="col-sm-10">
	      <input type="imput" class="form-control" id="username" placeholder="Username" name="username">
	    </div>
	  </div>
	  <div class="form-group" id="email_form">
	    <label for="email" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="email" placeholder="Email" name="email">
	    </div>
	  </div>
	  <div class="form-group" id="pass_form">
	    <label for="pas" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="pas" placeholder="Password" name="pass">
	    </div>
	  </div>
	  <div class="form-group" id="re-pass_form">
	    <label for="re-pass" class="col-sm-2 control-label" >Re Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="re-pass" placeholder="Re-Password" name="re-pass">
	    </div>
	  </div>
	  <div class="form-group" id="register_form">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default" name="register">Register</button>
	    </div>
	  </div>
	</form>
	<script type="text/javascript">
			pass = $("input[name='pass']")
			re_pass = $("input[name='re-pass']")
			username = $("input[name='username']")
			email = $("input[name='email']")
			$("#reg_form").submit(function (e) {
				cond = 0
				e.preventDefault()
				form = this
				if(pass.val() != re_pass.val() ){
					cond+=1
					re_pass.attr("style","border:#f00 solid 1px")
					re_pass.attr("placeholder","Passwd not match")
				}
				else {
					re_pass.attr("style","border:#fff solid 1px")
					re_pass.attr("placeholder","Re-Password")	
				}
				worng_form(pass,'',"Empty Password",cond,"Password")

				if(pass.val().length < 6){	
					cond+=1
					pass.attr("style","border:#f00 solid 1px")
					pass.attr("placeholder","Need longer pass")		
				}
				worng_form(email,'',"Empty Email",cond,"Email")
				worng_form(username,'',"Empty username",cond,"Username")
				if(email.val() == ''){
					cond+=1
				}
				$.ajax({
					url:"{{ url_for('get_users') }}",
					method: 'POST'
				}).done(function (data) {
					username_in_use = 0
					data.forEach(function(item){
						if(username.val() == item.username){
							cond+=1
							username_in_use = 1
							username.attr("style","border:#f00 solid 1px")
							username.attr("placeholder","Username exists")
						}
						if(!username_in_use){	
							username.attr("style","border:#fff solid 1px")
							username.attr("placeholder","Username")
						}
					})
					if(!cond){
						form.submit()
					}
					
				})
			})	
	</script>

{% endblock %}
{% block body %}
<div id="regForm">
	<form class="form-horizontal" id="form_reg" method="POST" action="{{ url_for('login') }}">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email/Login</label>
	    <div class="col-sm-10">
	      <input type="imput" class="form-control" id="inputEmail3" placeholder="Email/Login" name="email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" name="remember_me"> Remember me
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default" name="sign-in">Sign in</button>
	    </div>
	  </div>
	</form>
	<script type="text/javascript">

	</script>
</div>
{% endblock %}